:root {
    --cor-fundo: #0D192C;
    --cor-fundo-card: #15263F;
    --cor-clara: #8BACD9;
    --cor-detalhe: #00FFF8;
    --cor-geral: #FFFFFF;
    --cor-borda: #2E405A;
    --cor-detalhe-transparente: rgba(0, 255, 248, 0.503);

    --fonte-principal: "Outfit", sans-serif;
    --light: 300;
    --regular: 400;
    --semibold: 600;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-geral);
    font-family: var(--fonte-principal);
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft-img {
    border-radius: 8px;
}

.perfil-img {
    text-align: center;
    width: 2em;
    height: 2em;
}

.img-perfil {
    border-radius: 100%;
    border: 2px solid var(--cor-geral);
    width: 100%;
}

.card {
    background-color: var(--cor-fundo-card);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    justify-content: center;
    width: 19rem;
}

.card__titulo {
    margin: 1.5rem 0 1rem 0;
    font-size: 22px;
    font-weight: var(--semibold);
}

.card__descricao {
    font-size: 18px;
}

.card__info {
    margin: 1.5em 0;
    display: flex;
    justify-content: space-between;
}

.card__info-detalhes,
.card__info-time {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.detalhes__valor {
    color: var(--cor-detalhe);
    font-weight: var(--semibold);
}

.card__descricao,
.destaque,
.time__left {
    color: var(--cor-clara);
}

.usuario {
    display: flex;
    align-items: center;
    gap: 1em;
    border-top: 1px solid #2E405A;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: var(--cor-geral);
}

a:hover {
    color: var(--cor-detalhe);
}

.container {
    align-items: center;
    position: relative;
    height: 18rem;
    width: auto;
    max-width: 19rem;
    /* ajuste conf
    orme necessário */
    background-image: url(img/img.svg);
    overflow: hidden;
    border-radius: 8px;
}

.container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* para garantir que o ::after não saia da âncora */
    border-radius: inherit;
}

.container a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ajusta a imagem para cobrir todo o espaço disponível */
    z-index: -1;
    /* posiciona a imagem atrás do conteúdo da âncora */
    border-radius: inherit;
}

.container a .icon {
    font-size: 50px;
    /* ajuste conforme necessário */
    color: #000;
    /* cor do ícone */
    z-index: 2;
    /* para garantir que o ícone esteja acima da imagem */
    width: 2rem;
    height: auto;
    position: relative;
}

.container a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-detalhe-transparente);
    /* cor da máscara com 50% de opacidade */
    opacity: 0;
    transition: opacity 0.3s ease;
    /* animação suave da máscara */
    z-index: 1;
    /* coloca a máscara acima da imagem mas abaixo do ícone */
    border-radius: inherit;
}

.container a:hover::after {
    opacity: 1;
    /* exibe a máscara ao passar o mouse */
}

.ancora{
    background-position: 50% 50%;
}

.icon{
    opacity: 0;
}

.container a:hover .icon{
    opacity: 1;
}

@media screen and (max-width: 768px) {
    body{
        padding: 1rem 2rem;
    }

    .card{
        width: 80vw;
    }
}